
    <div class="playbar border">
        <div class="controls border">
            <img class="invert cursor" src="/images/shuffle.svg">
            <img class="invert cursor" id="prev" src="/images/prevsong.svg">
            <img class="invert cursor" id="play" src="/images/play.svg">
            <img class="invert cursor" id="next" src="/images/nextsong.svg">
            <img class="invert cursor" src="/images/repeat.svg">
        </div>
        <div class="seekbar border">
            <div class="pic">
                <img class="invert" style="width: 80%;" src="/images/music.svg">
            </div>
            <div class="if">
                <div class="playinfo border">
                    <span></span>
                    <span></span>
                </div>
                <div class="playcont">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="volume border cursor">
            <img class="invert" id="vol" src="/images/volume.svg">
            <input type="range" name="volume">
        </div>
        <div class="login border">
            <img class="invert cursor" src="/images/hamburger.svg">
            <button class="login-btn cursor">Sign in</button>
        </div>
    </div>
