 <div class="left bg-grey">
            <div class="left-box border ">
                <span><img class="invert" src="/images/logo.svg"></svg></span>
                <div class="search "><img width="20px" src="/images/search.svg"><input
                        class="text-box" type="text" placeholder="Search"></div>

                <ul class="border">
                    <li class="left-box-buttons cursor home"><img src="/images/home.svg">Home</li>
                     <li class="left-box-buttons cursor new"><img style="height:23px; width:23px;" src="/images/new.svg">New</li>
                    <li class="left-box-buttons cursor radio"><img src="/images/radio.svg">Radio</li>
                </ul>
            </div>
            <div class="left-bottom invert">
                <img src="/images/music.svg"><span>Open in Music</span>
            </div>

        </div>